/*.mockup-overlay {
  top: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}*/

body {
  font-family: 'Verdana', sans-serif;
  font-weight: 500;
  color: #666;
  font-size: 16px;
}

p {
  line-height: 32px;
}

h2.start-day {
  font-size: 23px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

h2.main-features-title {
  font-size: 24px;
}

ul li:nth-child(-n+2) {
  margin-bottom: 10px;
}

.container {
  margin-left: 28px;
}

.main-features {
  border: 1px solid #ccc;
  margin-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.first-list-item {
  margin-top: 35px;
}

h1.main-title {
  text-align: center;
  font-size: 48px;
  margin-top: 45px;
}

.mug-image {
  margin-top: 20px;
}

.text-orange {
  color: #f07c17;
}

.text-bold {
  font-weight: 900;
}
